@model PFM_ASP.Models.Book

@{
    ViewBag.Title = "Delete";
}
<style>
    body {
        background-image: url('../../images/background.jpg');
        background-size: cover;
        background-repeat: repeat-y;
        min-height: 800px;
    }

    .dv {
        margin-top: 140px;
        margin-bottom: 80px;
        background-color: white;
    }
</style>
<div class="container dv">
    <br />

    <h3>Voulez vous vraiment supprimer ce livre?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookImage)
            </dt>

            <dd>
                <img src="~/Uploads/@Html.DisplayFor(model => model.BookImage)"
                     class="thumbnail" style="width:60px;height:60px;" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookUrl)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <button class="btn btn-info">@Html.ActionLink("Retour a la liste", "Index")</button>
        </div>
        }
        <br />
    </div>
</div>